<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="loginForm">
    <ion-item>
      <ion-input
        type="text"
        label="Email"
        placeholder="ejemplo@email.com"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" value="NeverGonnaGiveYouUp">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!loginForm.valid"
      >Iniciar Sesión</ion-button
    >
  </form>
</ion-content>
