<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row
      class="ion-align-items-start ion-justify-content-center"
      style="height: 100%"
    >
      <ion-col size="12" sizeMd="6" sizeLg="4" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-row class="ion-justify-content-center ion-margin-bottom">
              <ion-col size="3">
                <img
                  src="https://images.prismic.io/ionicframeworkcom/ac68e1d9-9887-4e5a-9820-9290d06638de_ionic+logo+white+on+blue.png"
                  alt="Ionic logo"
                  loading="lazy"
                />
              </ion-col>
            </ion-row>
            <ion-card-title> Bienvenido a Kyber Med</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <ion-list>
                <ion-item>
                  <ion-grid>
                    <ion-row>
                      <ion-input
                        type="text"
                        placeholder="Email o Cédula de Identidad"
                        formControlName="identity"
                      ></ion-input>
                    </ion-row>
                    @if (loginForm.get('identity')?.invalid){
                    <ion-row>
                      <ion-label color="danger" *ngIf="">
                        {{getErrorMessage('identity')}}
                      </ion-label>
                    </ion-row>
                    }
                  </ion-grid>
                </ion-item>
                <ion-item>
                  <ion-input
                    type="password"
                    placeholder="Contraseñas"
                    formControlName="password"
                  >
                    <ion-input-password-toggle
                      slot="end"
                    ></ion-input-password-toggle>
                  </ion-input>
                </ion-item>
              </ion-list>

              <ion-button
                class="ion-margin"
                expand="full"
                type="submit"
                [disabled]="!loginForm.valid"
                >Iniciar Sesión</ion-button
              >
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
